body{
    font-family: sans-serif;
    padding: 20px;
    background-color: #e9ebee;
}
.perfil-header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(0, 0, 0);
}
.post{
    background: rgb(76, 76, 76);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid rgb(39, 38, 38);
}
.post-title{
    font-weight: bold;
    color: rgb(0, 123, 255);
}